@media (max-width: 991px) {
	#main-menu {
		position: relative;
		.resmenu-container {
			.navbar-toggle {
				display: inline-block; vertical-align: top;	z-index:99;	margin:12px 0;
				.header-style3 &{
					border: 1px @body-color solid;
				}
			}
		}
		.nav-pills {
			display: none;
		}
	}
	.woocommerce nav.woocommerce-pagination{
		float: left;
		.rtl &{
			float: right;
		}
		.note{
			padding-left: 0;
			.rtl &{
				padding-left: 15px; padding-right: 15px;
			}
		}
	}
	.products-wrapper .products-nav .catalog-ordering{
		float: right;
		.rtl &{
			float: left;
		}
	}
	#comments .commentlist .children{
		margin-left: 10px;
		.rtl &{
			margin-right: 10px;
		}
	}
	.respon-style{
		display: none;
	}
}