@media (max-width: 767px) {
	body .container{
		padding: 0 15px;
	}
	.header.header-style1, .header.header-style4{
		.sticky-menu{
			position: relative; padding: 0;
		}
		.mocha-logo{
			width: 100%; margin: 0; padding: 15px 0;
			a img{
				margin: 0 auto;
			}
		}
		#main-menu{
			padding: 0;
			.resmenu-container .navbar-toggle{
				margin:0;
			}
		}
		.header-right .header-right-inner .header-login{
			padding: 12px 0 10px 0;
		}
		.search-cate, .top-form-minicart.mocha-minicart{
			margin-top: 0;
		}
		.header-wishlist{
			display: none;
		}
		.resmenu-container .menu-responsive-wrapper{
			top: 40px;
		}
	}
	.header.header-style3{
		.sticky-menu{
			position: relative; padding: 0;
		}
		.header-top {
			.header-left{
				display: none;
			}
			.mocha-logo{
				width: 30%; float: left;
			}
			.header-right{
				width: 70%; float: left;
				.search-cate, .header-wishlist, .top-form-minicart{
					margin-top:14px;
				}
			}
		}
	}
	.header.header-style4 .header-top .header-coupon{
		display: none;
	}
	.zr-child-cat-listing .zr-childcat-container{
		.item.product{
			width: 100%;
		}
		.zr-childcat-top .zr-child-cat-top-inner .child-left{
			.box-title h3{
				font-size: 18px; margin-bottom: 10px;
			}
			&.has-banner{
				width: 100%;
			}
		}
		.zr-childcat-top .zr-child-cat-top-inner .banner-child-cat{
			display: none;
		}
	}

	.tparrows{
		display: none !important;
	}
	.has-left-sidebar{
		#left{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-right-sidebar{
		#right{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-left-product-sidebar{
		#left{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
	.has-right-product-sidebar{
		#right{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
}
