@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
@media (min-width: 1199px) and (max-width: 1600px) {
  .header.header-style2 .header-top {
    width: 85%;
    float: left;
  }
  .header.header-style2 .header-bar {
    width: 15%;
    position: relative;
    float: left;
  }
  .header.header-style2 .header-bar .search-cate,
  .header.header-style2 .header-bar .header-wishlist,
  .header.header-style2 .header-bar .right-header {
    display: inline-block;
    vertical-align: top;
  }
  .header.header-style2 .header-bar .search-cate,
  .header.header-style2 .header-bar .header-wishlist {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .featured-categories2 .wpb_wrapper {
    max-width: 1230px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  body.boxed-layout .body-wrapper {
    width: 100%;
    padding: 0;
  }
  .header.header-style1 .mocha-logo {
    margin-right: 20px;
  }
  .zr-child-cat-listing .zr-childcat-container .zr-childcat-top {
    width: 100%;
  }
  .zr-child-cat-listing .zr-childcat-container .item.product {
    width: 33.332%;
  }
  .responsive-post-slider .slider .slick-list .item .item-detail .entry-content .item-title h4 a {
    font-size: 18px;
  }
  .item .item-wrap .item-detail .item-content .item-price {
    font-size: 16px;
  }
  .footer-copyright .sidebar-copyright h3,
  .zr-promotion .item .banner-wrap .banner-cout h3 {
    font-size: 18px;
  }
  .footer-copyright .sidebar-copyright p,
  .zr-promotion .item .banner-wrap .banner-cout p {
    display: none;
  }
  .footer > .footer-top-wrapper >.container .footer-info {
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header.header-style1 .header-right .header-right-inner .header-login {
    display: none;
  }
}
@media (max-width: 991px) {
  #main-menu {
    position: relative;
  }
  #main-menu .resmenu-container .navbar-toggle {
    display: inline-block;
    vertical-align: top;
    z-index: 99;
    margin: 12px 0;
  }
  #main-menu .nav-pills {
    display: none;
  }
}
@media (max-width: 767px) {
  body .container {
    padding: 0 15px;
  }
  .header.header-style1 .sticky-menu {
    position: relative;
  }
  .header.header-style1 .mocha-logo {
    width: 100%;
    margin: 0;
    padding: 15px 0;
  }
  .header.header-style1 .mocha-logo a img {
    margin: 0 auto;
  }
  .header.header-style1 #main-menu {
    padding: 0;
  }
  .header.header-style1 #main-menu .resmenu-container .navbar-toggle {
    margin: 0;
  }
  .header.header-style1 .header-right .header-right-inner .header-login {
    padding: 12px 0 10px 0;
  }
  .header.header-style1 .search-cate,
  .header.header-style1 .top-form-minicart.mocha-minicart {
    margin-top: 0;
  }
  .header.header-style1 .header-wishlist {
    display: none;
  }
  .header.header-style1 .resmenu-container .menu-responsive-wrapper {
    top: 40px;
  }
  .zr-child-cat-listing .zr-childcat-container .item.product {
    width: 100%;
  }
  .zr-child-cat-listing .zr-childcat-container .zr-childcat-top .zr-child-cat-top-inner .child-left .box-title h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .zr-child-cat-listing .zr-childcat-container .zr-childcat-top .zr-child-cat-top-inner .child-left.has-banner {
    width: 100%;
  }
  .zr-child-cat-listing .zr-childcat-container .zr-childcat-top .zr-child-cat-top-inner .banner-child-cat {
    display: none;
  }
  .tparrows {
    display: none !important;
  }
  .has-left-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-sidebar .category-contents,
  .has-left-sidebar .single.main {
    float: none;
  }
  .has-right-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-sidebar .category-contents,
  .has-right-sidebar .single.main {
    float: none;
  }
  .has-left-product-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-product-sidebar #contents-detail,
  .has-left-product-sidebar #contents {
    float: none;
  }
  .has-right-product-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-product-sidebar #contents-detail,
  .has-right-product-sidebar #contents {
    float: none;
  }
}
@media (max-width: 640px) {
  .contact-mail .wpcf7 .cf-name,
  .contact-mail .wpcf7 .cf-mail,
  .contact-mail .wpcf7 .cf-sub {
    width: 100%;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 360px) {
  .rtl.woocommerce div.product form.cart .group_table td.label {
    text-align: right;
  }
}
@media (min-width: 1368px) {
  .wp-comingsoon {
    min-height: 980px;
  }
}
@media (min-width: 1200px) {
  .clear_lg {
    clear: both;
  }
  .rtl [class*="col-lg-"],
  .rtl [class*="col-md-"],
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .clear_md {
    clear: both;
  }
  .rtl [class*="col-md-"],
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .wpb_revslider_element .rev_slider_wrapper ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn {
    display: none !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  #cpanel-form a.cpanel-control {
    display: none;
  }
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (max-width: 767px) {
  .clear_xs {
    clear: both;
  }
  .rtl .block-text1-home4 [class*="col-lg-"] {
    float: none;
  }
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .sidebar-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sidebar-row aside#left {
    order: 1;
    width: 100%;
  }
  .sidebar-row aside#right {
    order: 1;
    width: 100%;
  }
  .sidebar-row > div {
    width: 100%;
  }
  .woocommerce-account #contents .entry-content .woocommerce-MyAccount-content,
  .woocommerce-account #contents .entry-content nav.woocommerce-MyAccount-navigation {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) {
  [class*="col-xs-"] {
    float: none;
    width: auto;
  }
  .rtl [class*="col-xs-"] {
    float: none;
  }
}
